<div class="container-fluid text-center">
  <h1 class="bigtitle"> Latest News </h1>
  <p>
    E-commerce is the activity of buying or selling of products on online services or over the Internet. Electronic commerce draws on technologies such as mobile commerce, electronic funds transfer, supply chain management, Internet marketing, online transaction processing, electronic data interchange (EDI), inventory management systems, and automated data collection systems.
  </p>
  <button class="btn btn-large btn-success">View Products</button>
</div>

<div class="row">
    <div class="col-sm-3">
      <h2>Product A</h2>
      <img alt="300x200" src="http://placehold.it/300x200">
        <p>
          This is a product description, It contains
          a brief description or this object and it's price
        </p>
        <p><a href="" class="btn btn-primary">Add to cart</a><a href="" class="btn">View</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Product B</h2>
      <img alt="300x200" src="http://placehold.it/300x200">
        <p>
          This is a product description, It contains
          a brief description or this object and it's price
        </p>
        <p><a href="" class="btn btn-primary">Add to cart</a><a href="" class="btn">View</a></p>
    </div>
    <div class="col-sm-3">
      <h2>Product C</h2>
      <img alt="300x200" src="http://placehold.it/300x200">
      <p>
        This is a product description, It contains
        a brief description or this object and it's price
      </p>
      <p><a href="" class="btn btn-primary">Add to cart</a><a href="" class="btn">View</a></p>
    </div>
</div>

<hr>

<div class="footer">
  <p>&copy; Company 2014</p>
</div>
